/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(218, 43%, 93%);
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 375px;
  margin: 5rem auto;
}

/* Top Section */

#top-section {
  background-color: #fdfcfc;
  padding: 4rem 3rem;
  height: 33rem;
  box-shadow: 0px 1px 1px 1px #e9e8e8;
}

#top-section h1 {
  color: hsl(179, 62%, 43%);
  padding-bottom: 3rem;
  font-weight: bold;
}

#top-section h2 {
  color: hsl(71, 73%, 54%);
  padding-bottom: 3rem;
}
#top-section p {
  color: hsl(210, 3%, 61%);
}

/* Middle Section */

#middle-section {
  background-color: hsl(179, 62%, 43%);
  padding: 4rem 3rem;
  height: 33rem;
  box-shadow: 0px 1px 1px 1px #e9e8e8;
}

#middle-section h2 {
  color: hsl(218, 43%, 93%);
  padding-bottom: 3rem;
}

#middle-section p {
  color: hsl(218, 43%, 93%);
}

#middle-section p span {
  font-weight: bold;
  font-size: 3rem;
}

#middle-section .padding {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

#middle-section button a {
  text-decoration: none;
  color: hsl(218, 43%, 93%);
  font-size: 1.8rem;
  text-shadow: 0px 1px 1px 1px #e9e8e8;
}

button {
  outline: none;
  border: none;
  width: 100%;
  background-color: hsl(71, 73%, 54%);
  border-radius: 4px;
  padding: 1.8rem 0;
  display: block;
  box-shadow: 0px 4px 8px #66939b;
}

/* Bottom Section */

#bottom-section {
  background-color: hsl(170, 49%, 58%);
  padding: 4rem 3rem;
  height: 33rem;
  box-shadow: 0px 1px 1px 1px #e9e8e8;
}

#bottom-section h2 {
  color: hsl(218, 43%, 93%);
}

#bottom-section ul {
  padding-top: 2rem;
}

#bottom-section ul li {
  color: hsl(218, 43%, 93%);
  padding-bottom: 1rem;
}

#bottom-section .attribution {
  margin-top: 1.5rem;
}

#bottom-section .attribution a {
  text-decoration: none;
  color: hsl(218, 43%, 93%);
  font-style: italic;
}

.attribution {
  color: hsl(218, 43%, 93%);
  font-size: 1.3rem;
  text-align: left;
}

/* Desktop */

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1000px;
    margin: 15rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33rem 33rem;
  }

  #top-section {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 4rem 10rem;
  }

  #top-section h1 {
    font-size: 3rem;
  }

  #top-section h2 {
    font-size: 2.6rem;
  }

  #top-section p {
    font-size: 2.3rem;
  }

  #middle-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 4rem 10rem;
    box-shadow: 0px 0px 1px 1px #e9e8e8;
  }

  #middle-section h2 {
    font-size: 2.2rem;
  }

  #middle-section p {
    font-size: 1.8rem;
  }

  #middle-section p span {
    font-size: 3.2rem;
  }

  #middle-section button {
    transition: all 1s ease;
  }

  #middle-section button:hover {
    background-color: rgb(50, 129, 50);
    cursor: pointer;
  }

  #bottom-section {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding: 4rem 10rem;
    box-shadow: 0px 1px 1px 0px #e9e8e8;
  }

  #bottom-section h2 {
    font-size: 2.2rem;
  }

  #bottom-section ul {
    padding-top: 1.5rem;
  }

  #bottom-section ul li {
    font-size: 1.7rem;
  }

  #bottom-section .attribution {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
}
